#Router configuration to redirect all request the index.php file except for request for static files (in public folder)
Options -MultiViews -Indexes
SetOutputFilter DEFLATE
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !/public
RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]