.titreconnexion{
    color: #5BCC12;
    font-size: 40px;
    font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
    align-self: center;

}
.container_profil{
    margin: 5%;
    background-color: white;
    padding: 40px 30px;
    border-radius: 10px;
    align-self: center;
    
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    border: solid #5BCC12 4px; 
  }
  .text_info
  {
      font-size: 22px;
      line-height: 2;
      display: block;
      font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
  }
  .boutonvalider,.boutonconnexion
  {
    padding: 15px 25px;
    border-radius: 4px;
    border:none;
    font-size: 15px;
    color: #fff;
    background-color: #5BCC12;
    outline:none;
    cursor:pointer;
    display: table;
    margin: auto;
    text-decoration: none;
    font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
  }

  .boutonconnexion1:hover
  {
    background-color: #78c545;
  }
  .titreinformation
  {
    color: #5BCC12;
    font-size: 40px;
    font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
  }
  .boutonconnexion1
  {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: table;
    font-size: 16px;
    margin: auto;
    margin-top: 10px;
    font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
  }
  .boutondeconnexion
  {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: table;
    font-size: 16px;
    margin: auto;
    margin-top: 10px;
    font-family: "Roboto","Helvetica Neue","Helvetica","Arial";
  }

  .barresaisie
  {
      padding: 6px;
  }
  .image_user
  {
    height: 172px;
    width: 172px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .image_user_edit
  {
    height: 172px;
    width: 172px;
  }
  .editer_photo
  {   
    width: 60%;
  }

  #conteneurPE
  {
      display: flex;
      justify-content: space-around;
      text-align: left;
      width: 450px;
      margin-right: 3em;
  }
  .elementPE:nth-child(1)
  {
      width: 80%;
  }
  .elementPE:nth-child(2)
  {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }