
table/* Mettre une bordure sur les td ET les th*/
{
  border: 5px solid #5BCC12 ;
  border-collapse: separate;
  border-spacing: 2px;
  width: 440px;
  border-radius: .5em;
  padding: 5px;
  background-color: #5BCC12;
  
}

.tableau
{
  background-color: white;
  width:600px;
  margin:0px auto;
  height: 1750px;
  
}

.btnhome 
{  
    margin-left: 500px;
    margin-top: 10;
    width: 95px;
    height: 45px;   
    background-color: black;
    color:white;   
    font-size:14px;
    font-weight:700;
    position: absolute;
    
