.block_forum {
	font-family: "Roboto", "Helvetica", "Verdana", "Georgia", "Trebuchet MS";
	max-width: 900px;
	min-width: 350px;
	margin: 80px auto;
}

h1 {
	color: white;
	text-align: center;
}
h2 {
	text-align: center;
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 20px;
	color: #5BCC12;
}

textarea {
	min-height: 100px;
	width: 100%;
}
input,
textarea {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 10px;
	outline: none;
	transition: box-shadow 200ms;
	font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
	margin-bottom: 15px;
	max-width: 100%;
}
input:focus,
textarea:focus {
	box-shadow: 0 0 0 1px #5bcc12;
}

input[type="submit"] {
	background-color: #5bcc12;
	border: none;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 200ms;
	display: block;
	color: white;
	margin: auto;
	width: 40%;
}

.question {
	border: 0;
	line-height: 2.5;
	padding: 0 20px;
	font-size: 1rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: #5bcc12;
}

.question:hover {
	background-color: #5bcc12;
}

.question:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.forum-wrapper {
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 6px;
	padding: 20px;
	border: 2px solid #5bcc12;
	margin-top: 50px;
}
.forum-wrapper.expand .réponse {
	display: block;
}
.forum-wrapper.expand span.material-icons {
	transform: rotate(180deg) translateY(50%);
}

.questions {
	background-color: #5bcc12;
	border-radius: 6px;
	padding: 10px 40px 10px 20px;
	position: relative;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	align-items: center;
}
.question-content {
	display: flex;
	margin-right: 10px !important;
	text-align: left;
}
.question-by {
	width: 40%;
	text-align: right;
}

.material-icons {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 4px;
	color: white;
	cursor: pointer;
	user-select: none;
	font-size: 1.2rem;
	transition: all 250ms;
	transform-origin: center;
}

.réponse {
	display: none;
	padding: 5px 15px 5px 15px;
}

.forum-wrapper p {
	font-size: 1.1rem;
	margin: 0;
}
.answer-p {
	margin-top: 10px;
	color: black;
	text-align: left;
}
.answer-date {
	font-size: 0.8rem;
	color: #5bcc12;
	margin-top: 10px;
	text-align: right;
}