.empsmiley {
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 5%;
    margin: auto;
}

.Txtsmiley {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 3%;
    margin-bottom: 3%;
}

#heures {
    height: 200px;
    width: auto;
}

.smiley1,
.smiley2,
.smiley3,
.smiley4,
.smiley5 {
    width: 10%;
    height: auto;
}

.empsoundnight {
    background-color: #300d7c;
    width: 80%;
    height: auto;
    border-radius: 30px;
    display: block;
    margin: auto;
    z-index: -1;
    padding: 3%;
}

.moon {
    width: 7%;
    height: auto;
}

.soundicon {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.empsoundday {
    background-color: #67bd45;
    width: 80%;
    height: auto;
    border-radius: 30px;
    display: block;
    margin: auto;
    z-index: -1;
    padding: 3%;
}

.sound1,
.sound2,
.sound3,
.sound4,
.sound5 {
    width: 12%;
    height: auto;
}

.rangebreathing {
    display: flex;
    flex-direction: row;
}

#rangevalue {
    font-size: 25px;
    color: #5bcc12;
}

#breathing {
    width: 50%;
    height: 30px;
    -webkit-appearance: none;
    background: white;
    outline: none;
    border-radius: none;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

#breathing::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 3px;
    height: 30px;
    border-radius: none;
    background: #5bcc12;
    cursor: pointer;
    border: 4px solid white;
    box-shadow: -507px 0 0 500px #5bcc12;
}

.Qwent,
.Qsport {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3%;
}

.iconoutside,
.iconinside,
.icon_sport_outside,
.icon_sport_inside {
    width: 15%;
    height: auto;
}