form {
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	padding: 40px 60px;
	border-radius: 5px;
	height: auto;
	width: auto;
	text-align: center;
	margin-bottom: 2%;
}

#titreconnexion {
	color: #5bcc12;
	font-size: 40px;
	font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
	align-self: center;
}

form .inputs {
	display: flex;
	flex-direction: column;
}

form .inputs input[type="email"],
.password-wrapper {
	padding: 15px;
	border: none;
	border-radius: 4px;
	background-color: #f2f2f2;
	outline: none;
	margin-bottom: 15px;
	width: 480px;
}

@media only screen and (max-width: 420px) {
	form .inputs input[type="email"],
	input[type="password"] {
		width: auto;
	}
}

form .inscription {
	font-size: 14px;
	margin-bottom: 20px;
	color: #878787;
}

#datenaissance {
	font-size: 14px;
	background-color: #f2f2f2;
	color: #878787;
	padding-top: 10px;
	margin: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#creer {
	color: #5bcc12;
}

a#creer:link {
	font-size: 14px;
	margin-bottom: 20px;
	font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
	text-decoration: none;
}

.buttonconnexion {
	padding: 15px 25px;
	border-radius: 4px;
	border: none;
	font-size: 15px;
	color: #fff;
	background-color: #5bcc12;
	outline: none;
	cursor: pointer;
	margin-top: 30px;
}

a#buttonconnexion:link {
	text-decoration: none;
	color: white;
	font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
	font-size: 15px;
}

.buttonins {
	text-decoration: none;
	color: white;
	font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
	font-size: 15px;
}

.container {
	margin: 10%;
	background-color: none;
	padding: 40px 60px;
	border-radius: 10px;
	align-self: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: auto;
	height: auto;
}

#logo {
	display: block;
	height: 80px;
	width: auto;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 5px;
}

.inscription {
	cursor: pointer;
}

.password-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
}

.password-wrapper input {
	width: 100%;
	border: 0;
	background-color: #f2f2f2;
	outline: none;
}
.password-wrapper span {
	cursor: pointer;
}
