@import './components/header.css';
@import './components/footer.css';
@import './signin.css';
@import './signup.css';

p {
	font-size: 24px;
	/* commentaire*/
	font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
	text-align: center;
	color: #878787;
	text-shadow: none
}

body {
	background-color: #6A90AD;
	margin: 0px;
	padding: 0px;
	height: 100%;
	min-height: 100vh;
	font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial" !important;
}
#body-wrapper {
	margin-top: 150px;
}
a {
	user-select: none;
}