footer {
	background-color: white;
	width: 100%;
	height: 50px;
	padding: 40px 0;
	box-shadow: 0 0 4px 2px #4e6b81;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

footer .desfooter div, footer #admin {
	font-size: 20px;
	font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
	color: #5bcc12;
	text-align: right;
	font-weight: 700;
	padding-right: 2%;
	cursor: pointer;
}

footer #admin {
	padding-left: 2%;
}
footer .desfooter {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: right;
}

@media screen and (max-width: 500px) {
	footer {
		display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    height: 140px;
	}
	footer .desfooter {
		display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding-left: 2%;
	}
}