p {
    font-size: 24px;
    /* commentaire*/
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
    text-align: center;
    color: #878787;
    text-shadow: none
}

#Game,
#Acceuil,
#FAQ {
    font-size: 30px;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
    color: #5BCC12;
    text-decoration: none;
    text-align: right;
    margin-right: 10px;
    position: relative
}

#Game {
    font-size: 30px;
    text-decoration: none;
    color: #5BCC12;
    text-align: right;
    margin: 20px;
    position: relative
}

#Inscription {
    background-color: #5BCC12;
    border-radius: 3px;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 3px;
}

#Connexion {
    border-width: 1px;
    border-color: #5BCC12;
    border-style: solid;
    padding: 15px 25px;
    border-radius: 3px;
    font-size: 20px;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
    color: #5BCC12;
    text-decoration: none;
}

#Acceuil:hover,
#Connexion:hover,
#FAQ:hover {
    color: #45990f;
}

#Game:hover,
#Connexion:hover {
    color: #45990f
}

#Connexion:hover {
    color: white;
    background-color: #45990f;
}

#Inscription:hover {
    background-color: #45990f;
}

header {
    height: auto;
    padding: 10px 0px;
    /*Marge verticale*/
    background-color: white;
    /*Couleur de fond*/
    box-shadow: 0 0 4px 2px #4e6b81;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#logo {
    display: block;
    height: 80px;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

#logo_2 {
    position: relative;
    height: 40px;
    width: auto;
    margin-top: 4px;
}

.centercolumn {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: auto;
    /*Taille de la colonne centrée moins le padding*/
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    align-items: center;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

#logo:hover,
#logo_2:hover {
    opacity: 0.6;
}

.By {
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial";
    text-align: left;
    margin-left: 10px;
}

@media only screen and (max-width: 1200px) {
    .menu {
        display: none;
        clear: both;
    }
    .centercolumn {
        display: block;
        clear: both;
    }
    .button {
        margin-top: 4.5%;
        margin-bottom: 1%;
    }
    #FAQ {
        margin-right: 0;
    }
}

@media only screen and (max-width: 793px) {
    .menu {
        display: block;
        clear: both;
    }
    .centercolumn {
        display: none;
        clear: both;
    }
}

@media only screen and (min-width: 1200px) {
    .menu {
        display: none;
        clear: both;
    }
    .centercolumn {
        display: flex;
        clear: both;
    }
    .Txttoolbar {
        margin: right 4px;
    }
}

@media only screen and (max-width: 375px) {
    .By {
        font-size: 15px;
    }
    #logo {
        height: 60px;
    }
    #logo_2 {
        height: 35px;
    }
}

nav {
    padding: 0 9px;
    display: inline-block;
}

.menu {
    width: 60px;
    height: 60px;
    position: relative;
    cursor: pointer;
    margin: right 1%
}

[class*=bar-] {
    background: #000;
    height: 2px;
    right: 0;
    display: block;
    position: absolute;
    transition: all 0.5s ease;
    margin-right: 5px;
}

.bar-1 {
    width: 40px;
    top: 11px;
}

.bar-2 {
    width: 60px;
    top: 18px;
}

.bar-3 {
    width: 40px;
    top: 25px;
}

.bar-4 {
    width: 60px;
    top: 32px;
}

.bar-5 {
    width: 40px;
    top: 38px;
}

.dropdown-menu {
    padding: 20px 0;
    top: 45px;
    right: -150px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    background-color: #fff;
}

.item {
    width: 250px;
    margin: 10px 5px;
    padding: 5px 0;
    display: inline-block;
    position: relative;
    color: #5BCC12;
    text-align: right;
    transition: all 0.5s ease;
    text-decoration: none;
    background-color: #fff;
    font-family: 'Roboto';
    font-size: 30px;
}

.item:hover {
    opacity: 0.8;
    color: #45990f;
}

.item:hover {
    letter-spacing: 1px;
}

.item::before {
    width: 40px;
}

.menu:hover .bar-1 {
    width: 60px;
    top: 15px;
    transform: rotate(135deg);
}

.menu:hover .bar-2 {
    width: 60px;
    top: 15px;
    transform: rotate(-135deg);
}

.menu:hover .bar-3 {
    opacity: 0;
    width: 60px;
    top: 15px;
    transform: rotate(135deg);
}

.menu:hover .bar-4 {
    width: 60px;
    top: 15px;
    transform: rotate(-135deg);
}

.menu:hover .bar-5 {
    opacity: 0;
    width: 60px;
    top: 15px;
    transform: rotate(135deg);
}

.menu:hover .dropdown-menu {
    right: -14px;
    opacity: 1;
    visibility: visible;
    display: block;
}

@media only screen and (max-width: 765px) {
    nav {
        display: block;
    }
}

@media only screen and (min-width: 765px) {
    nav {
        display: none;
    }
}